# .gitignore 내용
/backend-core/build/
/backend-core/.gradle/
/backend-core/out/
# Python
ai-flask/venv/
ai-flask/__pycache__/
ai-flask/*.pyc
ai-flask/.env
#frontend
/frontend-react/.env.production
/frontend-react/.env.development
.idea/
.DS_Store
*.class
*.jar
.env

# postgres
/postgres-data

#local Data Folder
/uploads/*
!/uploads/default_profile.jpg